<h1>About</h1>

<div class="ui grid">
  <div class="four wide column">
    <img class="ui fluid image circular" src="edda-about.jpg">
  </div>

  <div class="twelve wide column">
    ASbout edda
  </div>
</div>
