<div class="ui grid">
  <div class="eight wide column">
    <img class="ui fluid image circular" src="edda-about.jpg">
  </div>

  <div class="six wide column">
    <h1>About</h1>

    Edda Torial roars from the magical forests of Scandinavia, no one is really sure exactly where or when. She is said to have traded her heart to a woodland lake witch for her musical skills and mesmerizing stage presence.
    <br>Edda has been on stage for almost all her life, but she is mostly known to the public as an eccentric Burlesque Dancer and Snake Charmer.
    <br>She has now decided to take her musical saw playing to the stage as well, and not only in Vancouver BC where she is based,
    <br>but all over Canada.
  </div>
</div>
