
<div class="ui grid">
  <div class="eight wide column centered">
    <h1>Contact</h1>

    <div class="contacts">

      <a href='mailto:loveletter@eddatorial.com' class="contact-item" target="_blank">
        <div class="contact-label">
          <i class='fa fa-envelope'></i> Email
        </div>
        <div class="contact-content">
            loveletter@eddatorial.com
        </div>
      </a>

      <a href='https://instagram.com/eddatorial' class="contact-item" target="_blank">
        <div class="contact-label">
          <i class='fa fa-instagram'></i> Instagram
        </div>
        <div class="contact-content">
          @eddatorial
        </div>
      </a>

      <a href='https://www.youtube.com/channel/UCEaWPNFdVzb9nBkJuDd5HJw' class="contact-item" target="_blank">
        <div class="contact-label">
          <i class='fa fa-youtube'></i> YouTube
        </div>
        <div class="contact-content">
          <div class="description">
            @eddatorial
          </div>
        </div>
      </a>

      <a href='https://twitter.com/eddatorial' class="contact-item" target="_blank">
        <div class="contact-label">
          <i class='fa fa-twitter'></i> Twitter
        </div>
        <div class="contact-content">
            @eddatorial
        </div>
      </a>

      <a href='mailto:ivana.kisser@eddatorial.com' class="contact-item" target="_blank">
        <div class="contact-label">
          <i class='fa fa-male'></i> Manager
        </div>
        <div class="contact-content">
            Ivana Kisser
        </div>
      </a>

    </div>
  </div>
</div>
