<div class="ui grid">
  <div class="ten wide column centered">
    <img class="ui fluid image" src="Calendar-alt.png">
  </div>

  <div class="four wide column">
    <h1>
      Tickets
      <br>&amp; Tour Dates
    </h1>

    <p class='bodycopy'>
      Edda is touring all over
      Canada in October!
      See calendar for
      dates and venues.
    </p>

    <a href="#" target='_blank' class='ui button'>
      Buy Tickets!
    </a>
  </div>
</div>
